﻿<div class="modal fade" id="modal-task-details">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="modal-task-details-tag">
                    Noch kein Tag
                </div>
                <h4 class="modal-title" id="modal-task-details-title"></h4>
                <div id="modal-task-details-author"></div>
            </div>
            <div class="modal-body">
                <p id="modal-task-details-description"></p>
                <div class="modal-task-details-assignee-information">
                    <div id="modal-task-details-assignee"></div>
                    <div id="modal-task-details-due-to"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="select-tag-container hidden">
    <div class="select-tag-tag create-tag">
        @Html.TextBox("tag-name")
    </div>
</div>

<div class="create-tag-container">
    
</div>