﻿@model TODO_Project_ASP.Models.TaskModel

@{
    ViewBag.Title = "Single";
}

<div class="single-task-container" draggable="true" ondragstart="window.tododrag(event)" 
     onclick="window.showTaskDetailModal(@Html.DisplayFor(model => model.ID))" data-id="@Html.DisplayFor(model => model.ID)"
     id="single-task-container-@Html.DisplayFor(model => model.ID)">
    <div class="single-task-name">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>
