﻿@model TODO_Project_ASP.Models.ProjectModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>ProjectModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

    </dl>
</div>
