﻿@using TODO_Project_ASP.Models
@model TODO_Project_ASP.Models.ProjectModel

@{
    ViewBag.Title = Model.ProjectName;
}


<div class="row">
    <div class="col-md-12">
        <h4>Der Link um dieses Projekt erneut aufzurufen heißt</h4>
        @Html.DisplayFor(model => model.ProjectLink)<br />
        <h4>Diesen Link mit deinen Kollegen teilen</h4>
        @Html.DisplayFor(model => model.ProjectJoinLink)<br //>
    </div>
</div>

<div class="row project-container">
    <div class="col-md-3">
        <div class="state-container-todo-header state-container-header">
            <h3>TODO</h3>
        </div>
        <div class="state-container-todo state-container" ondrop="drop(event,0)" ondragover="allowDrop(event)">
            Ziehen Sie die Tasks bitte in dieses Feld.
            @foreach (var task in Model.GetService().GetTaksInState(Model, TaskState.Todo))
            {
                @Html.Partial("~/Views/Tasks/Single.cshtml", task);
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="state-container-in-progress-header state-container-header">
            <h3>In Progress</h3>
        </div>
        <div class="state-container-in-progress state-container" ondrop="drop(event,1)" ondragover="allowDrop(event)">
            Ziehen Sie die Tasks bitte in dieses Feld.
            @foreach (var task in Model.GetService().GetTaksInState(Model, TaskState.InProgress))
            { 
                @Html.Partial("~/Views/Tasks/Single.cshtml", task);
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="state-container-verify-header state-container-header">
            <h3>Verify</h3>
        </div>
        <div class="state-container-verify state-container" ondrop="drop(event,2)" ondragover="allowDrop(event)">
            Ziehen Sie die Tasks bitte in dieses Feld.
            @foreach (var task in Model.GetService().GetTaksInState(Model, TaskState.Verify))
            {
                @Html.Partial("~/Views/Tasks/Single.cshtml", task);
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="state-container-done-header state-container-header">
            <h3>Done</h3>
        </div>
        <div class="state-container-done state-container" ondrop="drop(event,3)" ondragover="allowDrop(event)">
            Ziehen Sie die Tasks bitte in dieses Feld.
            @foreach (var task in Model.GetService().GetTaksInState(Model, TaskState.Done))
            {
                @Html.Partial("~/Views/Tasks/Single.cshtml", task);
            }
        </div>
    </div>
</div>

<div class="toggle-create-container">
    <a data-toggle="modal" data-target="#modal-task-create">Task erstellen</a>
</div>

@Html.Partial("~/Views/Tasks/CreateInProject.cshtml", new TaskModel() { DueTo = DateTime.Now })
@Html.Partial("~/Views/Tasks/Details.cshtml")