﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Reset for all headlines */
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.toggle-create-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    background-color: #9C27B0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.toggle-create-container:hover {
    background-color: #6A1B9A;
}


.toggle-create-container a {
    color: white !important;
    text-decoration: none;
}


.project-container {
    margin-top: 50px;

}

.state-container-header,
.state-container {
    text-align: center;
}

.state-container-header {
    border: solid thin #424242;
    padding: 20px 0;
}

.single-task-container {
    border-bottom: solid thin #9f9f9f;
    padding: 20px 0;
    cursor: pointer;
}

#modal-task-details .modal-dialog {
    max-width: 350px;
}

.modal-content {
    border-radius: 1px;
}

.modal-body {
    padding-top: 10px;
}

.modal-header {
    border-bottom: none;
    padding: 20px 20px 0 20px;
}

.modal-header h4 {
    font-weight: bold;
}

#modal-task-details-assignee {
    display: inline-block;
}

#modal-task-details-due-to {
    display: inline-block;
    float: right;
}

#modal-task-details-tag {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #929292;
    color: white;
    font-size: 12px;
    padding: 3px;
    border-radius: 2px;
    cursor: pointer;
}


#modal-task-details-assignee, #modal-task-details-author, #modal-task-details-due-to {
    font-size: 16px;
}

.form-horizontal .control-label{
   text-align: left; 
}

/* SELECT TAG CONTAINER */
.select-tag-container {
    position: fixed;
    width: 200px;
    max-height: 200px;
    z-index: 99999;
    left: 50%;
    top: 40px;

    transform: translateX(-50%);
    background-color: white;
    overflow-y: scroll;
    border-radius: 2px;
    box-shadow: 0px 1px 150px #424242;

    display: block;
    visibility: visible;
}

.select-tag-container.hidden {
    display: none;
    visibility: hidden;    
}

.select-tag-container .select-tag-tag {
    padding: 7px;

}

.select-tag-tag:hover {
    cursor: pointer;
    background-color: #929292;
    color: white;
}

.select-tag-tag input {
    width: 140px;
}